In [18]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv("/Users/nithyashreevsuresh/Downloads/customer_data - customer_data.csv")
df.head()

,CustomerID,Name,Age,Gender,Country,SignupDate,LastLogin,TotalPurchase,PreferredDevice,Email
0,e3e70682-c209-4cac-a29f-6fbed82c07cd,Christopher Williams,63.0,Male,USA,2021-12-22,2023-09-12,2141.15,dasktop,margaret03@bullock.info
1,f728b4fa-4248-4e3a-8a5d-2f346baa9455,Kevin Hopkins,42.0,Female,UK,2023-04-21,2024-06-28,2863.67,NaN,tammy76@mcintyre.org
2,eb1167b3-67a9-4378-bc65-c1e582e2e662,Sonya Stafford,76.0,Femlae,UK,2020-09-16,2023-06-13,2427.18,NaN,lauramichael@hotmail.com
3,f7c1bd87-4da5-4709-9471-3d60c8a70639,Matthew Schmidt,53.0,Unknown,Indai,2021-05-16,2024-12-15,5986.07,moblie,@example.com
4,e443df78-9558-467f-9ba9-1faf7a024204,Kristen Banks,74.0,NaN,UK,2022-04-14,2025-01-08,3374.72,dasktop,blacknicole@smith-lewis.com

In [20]:
df.shape

(51000, 10)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51000 entries, 0 to 50999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       50501 non-null  object
 1   Name             51000 non-null  object
 2   Age              48417 non-null  float64
 3   Gender           36365 non-null  object
 4   Country          38330 non-null  object
 5   SignupDate       49957 non-null  object
 6   LastLogin        49939 non-null  object
 7   TotalPurchase    48601 non-null  float64
 8   PreferredDevice  33878 non-null  object
 9   Email            49696 non-null  object
dtypes: float64(2), object(8)
memory usage: 3.9+ MB

In [22]:
df.isnull().sum()

CustomerID           499
Name                   0
Age                 2583
Gender             14635
Country            12670
SignupDate          1043
LastLogin           1061
TotalPurchase       2399
PreferredDevice    17122
Email               1304
dtype: int64

In [23]:
df_raw_backup = df.copy()

In [24]:
df["Age"] = df["Age"].fillna(df["Age"].median())

df["Gender"] = df["Gender"].fillna(df["Gender"].mode()[0])
df["Country"] = df["Country"].fillna(df["Country"].mode()[0])

df["TotalPurchase"] = df["TotalPurchase"].fillna(df["TotalPurchase"].mean())

In [25]:
df["Gender"] = df["Gender"].str.strip().str.lower()
df["Country"] = df["Country"].str.strip().str.title()
df["PreferredDevice"] = df["PreferredDevice"].str.strip().str.lower()

In [26]:
df["SignupDate"] = pd.to_datetime(df["SignupDate"], errors="coerce")
df["LastLogin"] = pd.to_datetime(df["LastLogin"], errors="coerce")

df[["SignupDate", "LastLogin"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51000 entries, 0 to 50999
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SignupDate  49957 non-null  datetime64[ns]
 1   LastLogin   49939 non-null  datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 797.0 KB

In [27]:
df["Age"] = df["Age"].astype(int)
df["TotalPurchase"] = df["TotalPurchase"].astype(float)

In [28]:
df.duplicated().sum()
df = df.drop_duplicates()

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50000 entries, 0 to 49999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       49511 non-null  object
 1   Name             50000 non-null  object
 2   Age              50000 non-null  int64
 3   Gender           50000 non-null  object
 4   Country          50000 non-null  object
 5   SignupDate       48976 non-null  datetime64[ns]
 6   LastLogin        48963 non-null  datetime64[ns]
 7   TotalPurchase    50000 non-null  float64
 8   PreferredDevice  33217 non-null  object
 9   Email            48730 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(1), object(6)
memory usage: 4.2+ MB

In [30]:
df.isnull().sum()

CustomerID           489
Name                   0
Age                    0
Gender                 0
Country                0
SignupDate          1024
LastLogin           1037
TotalPurchase          0
PreferredDevice    16783
Email               1270
dtype: int64

In [31]:
df.head()

,CustomerID,Name,Age,Gender,Country,SignupDate,LastLogin,TotalPurchase,PreferredDevice,Email
0,e3e70682-c209-4cac-a29f-6fbed82c07cd,Christopher Williams,63,male,Usa,2021-12-22,2023-09-12,2141.15,dasktop,margaret03@bullock.info
1,f728b4fa-4248-4e3a-8a5d-2f346baa9455,Kevin Hopkins,42,female,Uk,2023-04-21,2024-06-28,2863.67,NaN,tammy76@mcintyre.org
2,eb1167b3-67a9-4378-bc65-c1e582e2e662,Sonya Stafford,76,femlae,Uk,2020-09-16,2023-06-13,2427.18,NaN,lauramichael@hotmail.com
3,f7c1bd87-4da5-4709-9471-3d60c8a70639,Matthew Schmidt,53,unknown,Indai,2021-05-16,2024-12-15,5986.07,moblie,@example.com
4,e443df78-9558-467f-9ba9-1faf7a024204,Kristen Banks,74,femlae,Uk,2022-04-14,2025-01-08,3374.72,dasktop,blacknicole@smith-lewis.com

In [33]:
df.to_csv("CustomersCleaned.csv", index=False)